body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin: 0;
}


/* MAIN PAGE GRID */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    padding: 1rem;

    min-height: 0;
}

/* SECTIONS */
.gallery-section,
.editor-section {
    background-color: #f5f5f5;


    padding: 1rem;
    border-radius: 15px;

}




/* CANVAS CONTAINER */
.canvas-container {
    display: flex;
    justify-content: center;

    margin: 1rem 0;
    
}




/*=================================================*/

/* MOBILE */
@media (max-width: 768px) {
    .main-layout {
        grid-template-columns: 1fr;
    }
}