body {
    margin: 0;
    min-height: 100vh;
}

/* MAIN PAGE GRID */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    padding: 1rem;

    height: 100vh;
}


.main-header {
    grid-column: 1 / -1;
}








/* MOBILE */
/*=======================================*/

@media (max-width: 768px) {
    .main-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        height: 100vh;
        overflow: hidden;
    }
}