.editor-section {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 0.5rem;

    min-height: 0;
    overflow: hidden;
}



.editor-section h2 {
    margin: 0;
}

#line-txt {
    width: 50%;
    padding: 0.5rem;
}

.editor-controls {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 0;
    overflow: hidden;
}