.gallery-section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.75rem;

    /* make the section scroll */
    max-height: calc(100vh - 140px);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.75rem;

    padding: 0.2rem;
    overflow: auto;

}

.gallery-section h2 {
    margin: 0;
}


.gallery-section img {
    display: block;
    width: 100%;

    border-radius: 10px;

    cursor: pointer;
}

.gallery-section img:hover {
    outline: 2px solid #ffa743;
}