.gallery-section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.75rem;

    min-height: 0;
    /*grid trick, allows section to shrink if Add MORE images to your gallery*/
    overflow: hidden;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;

    overflow-y: auto;
    align-content: start;

}

.gallery-section img {
    width: 100%;
}





@media (max-width: 1200px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}