.gallery-section {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;


    min-height: 0;
    /*grid trick, allows section to shrink if Add MORE images to your gallery*/
    overflow: hidden;
}

.gallery-section h2 {
    text-align: center;

    margin: 0;

    color: var(--dark);
    font-size: 1.5rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    overflow-y: auto;
    align-content: start;

    padding: 0.5rem;
}


/* Custom scrollbar */
.gallery-grid::-webkit-scrollbar {
    width: 8px;
}


.gallery-grid::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}




.gallery-grid img {
    width: 100%;
    border-radius: 10px;


    aspect-ratio: 1;
    /* if image isn't square, crop it to fit (not stretch) */
    object-fit: cover;

    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0px 8px var(--shadow);
}

.gallery-grid img:hover {
    transform: scale(1.08);
    box-shadow: 0 0px 0px var(--shadow);
}


.gallery-grid img:active {
    transform: scale(0.95);
}






@media (max-width: 1200px) {
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}



/* MOBILE */
@media (max-width: 768px) {
    .gallery-section {
        max-height: 140px;
        min-height: 0;

        gap: 0.5rem;
    }

    .gallery-section h2 {
        font-size: 1rem;
        margin: 0;
    }


    .gallery-grid {
        /* grid-template-columns: repeat(7, 1fr); */
        display: flex;
        flex-wrap: nowrap;
        gap: 0.5rem;

        padding: 0.25rem;

        align-items: center;
    }


    .gallery-grid img {
        width: 60px;
        height: 60px;
    }


    .gallery-grid::-webkit-scrollbar {
        height: 4px;
        width: auto;
    }
}